<h2>Eventos</h2>
<hr>

<div class="form-inline">
    <div class="form-group">
        <label for="filtro" class="mr-2">Filtro: </label>
        <input  id="filtro" type="text" class="form-control mr-2"
        placeholder="buscar" [(ngModel)]="filtroLista"
        >
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dartk">
        <tr>
            <th>
                <button class="btn btn-outline-dark btn-sm"
                (click)="toggleShowImages()">
                <i class="{{showImages ? 'fa fa-eye': 'fa fa-eye-slash'}}"></i>
                    {{ showImages ? "exibir": "ocultar" }}
                </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventos">
            <td>
                <img [collapse]="showImages" [isAnimated]="true"
                src="/assets/{{ evento.imagemURL }}" alt="evento"
                [style.width.px]="widthImg"
                [style.margin.px]="marginImg">
            </td>
            <td>{{ evento.id }}</td>
            <td>{{ evento.tema }}</td>
            <td>{{ evento.local }}</td>
            <td>{{ evento.dataEvento | DateFormatPipe }}</td>
            <td>{{ evento.qtdPessoas }}</td>
            <td>{{ evento.lote }}</td>
            <td class="d-flex">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm mr-2"
                    tooltip="Editar" (click)="openModal(template)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm mr-2"
                    tooltip="Deletar" (click)="openModal(template)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos && !eventos.length">
        <tr>
            <td colspan="8" class="text">
                <h4>Nenhum evento encontrado!</h4>
            </td>
        </tr>
    </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar esse evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>