<h2>Eventos</h2>
<hr>

<div class="form-inline">
    <div class="form-group">
        <label for="filtro" class="mr-2">Filtro: </label>
        <input  id="filtro" type="text" class="form-control mr-2"
        placeholder="buscar" [(ngModel)]="filtroLista"
        >
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dartk">
        <tr>
            <th>
                <button class="btn btn-outline-dark btn-sm"
                (click)="toggleShowImages()">
                    {{ showImages ? "exibir": "ocultar" }}
                </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventos">
            <td>
                <img [collapse]="showImages" [isAnimated]="true" src="/assets/{{ evento.imagemURL }}" 
                [style.width.px]="widthImg"
                [style.margin.px]="marginImg">
            </td>
            <td>{{ evento.eventoId }}</td>
            <td>{{ evento.tema }}</td>
            <td>{{ evento.local }}</td>
            <td>{{ evento.dataEvento }}</td>
            <td>{{ evento.qtdPessoas }}</td>
            <td>{{ evento.lote }}</td>
            <td class="d-flex">
                <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
                <button type="button" class="btn btn-primary btn-sm mr-2">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos && !eventos.length">
        <tr>
            <td colspan="8" class="text">
                <h4>Nenhum evento encontrado!</h4>
            </td>
        </tr>
    </tfoot>
</table>