<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input 
          [ngClass]="cssValidator('tema')"
            type="text"
            class="form-control"
            formControlName="tema"
            placeholder="insira o tema"
          />
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatório
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema de ter no mínimo 3 caracteres
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema de ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
          [ngClass]="cssValidator('local')"
            type="text"
            class="form-control"
            formControlName="local"
            placeholder="onde será realizado o evento"
          />
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
          [ngClass]="cssValidator('dataEvento')"
            type="datetime"
            class="form-control"
            formControlName="dataEvento"
            placeholder="data"
            bsDatepicker
            [bsConfig]="bsConfig"
            [value]="evento.dataEvento | DateFormatPipe"
          />
          <div class="invalid-feedback">
            Data e hora é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input
          [ngClass]="cssValidator('qtdPessoas')"  
          type="number"
            class="form-control"
            formControlName="qtdPessoas"
            placeholder="número de pessoas"
          />
          <div *ngIf="f.qtdPessoas.errors?.required && f.qtdPessoas.touched" class="invalid-feedback">
            Quantidade é obrigatório
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max && f.qtdPessoas.touched" class="invalid-feedback">
            Deve ser menor que 120000
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
          [ngClass]="cssValidator('telefone')"
          type="text"
            class="form-control"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
          />
          <div class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
          [ngClass]="cssValidator('email')"  
          type="text"
            class="form-control"
            formControlName="email"
            placeholder="e-mail"
          />
          <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
            E-mail é obrigatório
          </div>
          <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
            Deve ser um endereço de e-mail válido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
          [ngClass]="cssValidator('imagemURL')"  
          type="text"
            class="form-control"
            formControlName="imagemURL"
            placeholder="imagem"
          />
          <div *ngIf="f.imagemURL.errors?.required" class="invalid-feedback">
            imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarEvento()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
