<app-titulo titulo="Perfil" [botaoListar]="false"></app-titulo>

<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                name="aboutme"
                width="120"
                height="120"
                class="rounded-circle"
              />
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python,
              Ruby, Java, Node.js, etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Título</label>
            <select class="form-control" formControlName="titulo">
              <option value=""></option>
              <option value="0">Não Quero</option>
              <option value="Tecnologo">Tecnólogo(a)</option>
              <option value="Bacharel">Bacharel</option>
              <option value="Especialista">Especialista</option>
              <option value="Pós Graduado">Pós Graduado(a)</option>
              <option value="Mestre">Mestre</option>
              <option value="Doutor">Doutor(a)</option>
              <option value="Pós Doc">Pós Doc</option>
            </select>
          </div>
          <div class="form-group col-sm-5">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="nome" [ngClass]="cssValidator('nome')">
            <div *ngIf="isInvalid('nome')" class="invalid-feedback">
              Não pode ficar vazio
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="sobrenome" [ngClass]="cssValidator('sobrenome')" />
            <div *ngIf="isInvalid('sobrenome')" class="invalid-feedback">
              Não pode ficar vazio
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email" [ngClass]="cssValidator('email')" />
            <div *ngIf="form.get('email').errors?.required" class="invalid-feedback">
              Não pode ficar vazio
            </div>
            <div *ngIf="form.get('email').errors?.email" class="invalid-feedback">
              Deve ser um e-mail válido!
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" class="form-control" formControlName="telefone" [ngClass]="cssValidator('telefone')" />
            <div *ngIf="isInvalid('telefone')" class="invalid-feedback">
              Não pode ficar vazio
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Função</label>
            <select class="form-control" formControlName="funcao" [ngClass]="cssValidator('funcao')">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label>Descrição</label>
            <input type="text" class="form-control" formControlName="descricao" />
          </div>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <p class="text-danger">Faltando texto de validação para senha</p>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="novaSenha" />
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="confirmarSenha" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" (click)="onSubmit()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
